{% comment %}
New file to host list of Pokemon TCG series.
Each list item to click through to metaobject tcg_series_pkmn.{series} and include list of expansions within the series
{% endcomment %}

{{ 'spotlight-collection.css' | asset_url | stylesheet_tag }}
{{ 'pokedecks-category-components.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-banner.css' | asset_url | stylesheet_tag }}


{% liquid
    assign franchise = metaobjects.tcg.pokemon
  assign series_list = metaobjects.tcg_series_pkmn.values
%}

<style>
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  z-index: -1; 
}


.foreground-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 4rem 2rem;
  position: relative;
  z-index: 1;
}


.page-width {
  max-width: var(--page-width, 1200px);
  width: 100%;
}


.page-logo {
  text-align: center;
  margin-bottom: 2rem;
}

.page-logo img {
  max-width: 450px;
  height: auto;
}

.page-intro {
  text-align: center;
  color: #fff;
  margin-bottom: 3rem;
  background: rgba(28,30,47, 0.4);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(4px);
  width: 80%;
}

.page-intro h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.page-intro p {
  font-size: 1.2rem;
}

.spotlight-section {
  margin-bottom: 4rem;
}



</style>


<img class="background-image"
src="{{ franchise.cover_image | image_url: width: 1920, height: 1080  }} " width= 100% height= 100%>

<div class="foreground-content page-width">
  <!-- Logo -->
  <div class="page-logo">
    <img 
    src="{{ franchise.logo | image_url: width: 750, height: 450 }}"
    width= 100%
    height= 100%
    >
  </div>

  <!-- Text content -->
  <div class="page-intro">
    <div class="collection-data-title white">{{franchise.headline}}</div>
    <div class="spotlight-description">{{ franchise.description }}</div>
  </div>

  <!-- Series list -->
  {% for series in series_list %}
    <section class="spotlight-section status-{{ series.is_current.value | handle }}">
      <div class="status-banner">
        <span class="status-value">{{ series.status.value }}</span>
      </div>

      <div class="spotlight-wrapper">
        <div class="spotlight-content-row">
          <div class="spotlight-column first-column">
            <div class="spotlight-image-wrapper">
              <img
                src="{{ series.logo | image_url: width: 525, height: 300 }}"
                alt="Image showing the logo for the {{ series.name }} series with Pokémon in the background."
                class="spotlight-image"
                height="300"
                width="525"
              >
            </div>
          </div>

          <div class="spotlight-column last-column">
            <div class="spotlight-text">
              <p class="spotlight-description">{{ series.description }}</p>
            </div>
            <div class="spotlight-button-wrapper">
              <a href="/pages/pkmn-series/{{ series.name | handle }}" class="spotlight-button">
                View {{ series.name }} sets
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endfor %}
</div>
