{{ 'pokedecks-category-components.css' | asset_url | stylesheet_tag }}
{% assign tcg = metaobjects.tcg.pokemon %}

<section class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}">
  <div class="isolate page-width">
    {{ section.settings.section_color_scheme }}
    <div class="pokedecks-category__image-container-darkshadow">
      <img
        src="{{ tcg.image | image_url: width: auto , height: auto }}"
      >
    </div>
    
  </div>
</section>



{% schema %}
  {
    "name": "banner-pokemon",
    "settings": []
  }
{% endschema %}