{{ 'pokedecks-category-components.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-banner.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}



{% assign series_handle = request.path | split: '/' | last %}
{% assign series = metaobjects.tcg_series_pkmn[series_handle] %}
{% assign expansions_with_dates = '' %}
{%- assign colour_one = series.colour_one | default: '#F55B20' -%}
{%- assign colour_two = series.colour_two | default: '#791936' -%}
{% assign expansion_list = metaobjects.tcg_expansions_pkmn.values %}
<!-- Build sortable string array (release_date|expansion_name) -->
{% for expansion in expansion_list %}
  {% if expansion.series_name == series.name %}
    {% assign expansion_entry = expansion.release_date | append: '|' | append: expansion.name %}
    {% assign expansions_with_dates = expansions_with_dates | append: ',' | append: expansion_entry %}
  {% endif %}
{% endfor %}

<!-- Remove leading comma -->
{% assign expansions_with_dates = expansions_with_dates | remove_first: ',' %}

<!-- Sort and reverse the array -->
{% assign sorted_expansions = expansions_with_dates | split: ',' | sort | reverse %}

{%- style -%}

.pokedecks-category__data-wrapper::before{
    background: linear-gradient(45deg, {{ colour_one }}, {{colour_two}} );
  }
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .pokedecks-category__data-wrapper::after {
    border-color: (0,0,0,0.2);
    background-color:#fff;
  }

  .collection-data-cell{
    background-color: {{ colour_one }}
  }


  .midground-container {
  position: relative; 
  z-index: 1;         
  width: 100%;
  margin-top: 2rem;   
}

.hero-fullwidth {
  position: relative;
  width: 100%;
  min-height: 65vh;
  height: auto;
  overflow: visible;
  display: block; 
}

.foreground-container {
  position: relative;         
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.hero-content {
  position: relative;
  z-index: 2;               
  display: grid;            
  grid-template-rows: auto auto;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;           
  padding: 1rem;
  box-sizing: border-box;
}

  .tcg-card {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          border-radius: 10px;
          transition: all 0.5s ease;
          box-shadow: none;
          margin: 20px;
          width: fit-content;
          height: fit-content;
        }


        .tcg-card::before {
          content: '';
          position: absolute;
          inset: -5px;
          border-radius: 10px;
          background: linear-gradient(-45deg, #2c3a57 0%, #8c9eb1 100%);
          z-index: -1;
          transition: transform 0.6s ease-in-out, background 0.6s ease-in-out;
          opacity: 1;
        }

        .tcg-card:hover,
        .tcg-card:focus-within {
          transform: scale(1.05);
        }

        .tcg-card:hover::before,
        .tcg-card:focus-within::before {
          transform: rotate(90deg);
          background: linear-gradient(-45deg, {{ series.colour_one }} 0%, {{ series.colour_two }} 100%);
        }

        .tcg-card:hover::after,
        .tcg-card:focus-within::after {
          opacity: 1;
          filter: blur(15px);
        }


{%- endstyle -%}

<section class="hero-fullwidth">
  <div class="hero-background">
    <img class="background-image" src="{{ series.image | image_url: width: 1920, height: 1080 }} " width= 100% height= 100%/>
  </div>
  <!-- Container for logo and product grid -->
    <div class="hero-content collection page-width">
        <!-- Row 1: Logo and collection info-->
        <div class="foreground-container">
            <div class="flex-row-center">
            <img
            src="{{ series.logo | image_url: width: 850, height: 400 }}" 
            width= 100%
            height= 100%
                />    
        </div>
            
                <div class="text-content-container page-width">
                    <div class="pokedecks-category__data-wrapper">
                        <div class="collection-data-grid">
                            <div class="collection-data-item">
                            {{ series.description }} 
                            </div>
                            
                            <div class="collection-data-item">
                                {% if series.is_current %}
                                <div class="collection-data-cell">
                                    <div class="collection-data-text-content">
                                        <p class="collection-data-subtitle"><strong>Latest release</strong></p>
                                        <p class="collection-data-value">{{ series.latest_release_name }}
                                        <p class="collection-data-value">Released on {{ series.latest_release_date | metafield_tag }}</p>
                                        </p>
                                    </div>
                                </div>
                                <div class="collection-data-cell">
                                    <div class="collection-data-text-content">
                                        <p class="collection-data-subtitle"><strong>Next release</strong></p>
                                        <p class="collection-data-value">{{ series.next_release_name }}</p>
                                        <p class="collection-data-value">Scheduled for release on {{ series.next_release_date | metafield_tag }}</p>          
                                    </div>
                                </div>
                                {% else %}
                                <div class="collection-data-cell">
                                    <div class="collection-data-text-content">
                                        <p class="collection-data-value">The {{ series.name }} journey has come to an end. All expansions in this series have now been released, with {{ series.final_release_name }} closing the collection on {{ series.final_release_date | metafield_tag }}.  </p>          
                                    </div>
                                </div>
                                
                                {% endif %}
                            </div>
                            
                        </div>
                    </div>
                </div>
            
        </div>
    </div>

<!-- Section: Sorted Expansion Tiles -->
<section class="flex-page">
  <div class="flex-row">
    <div class="flex-grid">
      {% for sorted_expansion in sorted_expansions %}
        {% assign parts = sorted_expansion | split: '|' %}
        {% assign expansion_name = parts[1] %}

        {% for expansion in expansion_list %}
          {% if expansion.name == expansion_name %}
            <a href="{{routes.collection_url}}/{{ expansion.name | handle }}" class="tcg-card-link">
              <div class="tcg-card">
                <div class="expansion-image">
                  <img
                    class="card-logo"
                    src="{{ expansion.logo | image_url: width: '500', height: '500' }}"
                    alt="{{ expansion.name }} Logo"
                    height= 500
                    width= 500
                  >
                </div>
              </div>
            </a>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>
           
</section>