{{ 'section-password-productdrop.css' | asset_url | stylesheet_tag }}
{{ 'pokedecks-category-components.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-banner.css' | asset_url | stylesheet_tag }}
{% comment %}
 Replace product_drop value with the handle associated with the relevant drop
 Metaobject: product_drop
 {% endcomment %}
{% assign current_drop = metaobjects.product_drop.ultimate-tcg-drop %}
{% assign name = current_drop.name %}

<style>

</style>
<body class="body-fullheight">
<section class=" hero-fullheight">
  <div class="hero-background">
    <img 
      class="background-image" 
      src="{{ current_drop.image | image_url: width: 1920, height: 1080 }}" 
      width="100%" 
      height="100%"
    />
  </div>

  <!-- Container for foreground content -->


    <div class="foreground-container foreground-container--white foreground-container--margin-tb-10 foreground-container--border-purple page-width ">


      <div class="flex-row-center--fixed-60">
        
        
            <div class="collection-data-grid">
              <div class="header__heading-logo-wrapper">
                <img
                class="header__heading-logo"
              src="https://cdn.shopify.com/s/files/1/0903/9629/5493/files/PokeDecksLogo-Text_pink-purple.png?v=1744323761"
              width="200"
              height="200"
            >
                </div>

              <!-- Product drop heading -->
              <div class="collection-data-item collection-data-item--column">
               <h1 class="text"> {{ name }} </h1>
              </div>

              <!--Access info -->
              {% if current_drop.has_early_access %}
              <div class="collection-data-item--white collection-data-item--column collection-data-cell ">

                <p class="collection-data-value">
                  <strong> Early access</strong> 
                  </p>
                <p class="collection-data-value">
                  {{ current_drop.date_time_early_access | metafield_tag }}
                </p>

              </div> <!-- data item -->
            {% endif %}
              {% if current_drop.has_mailing_list_drop %}
              <div class="collection-data-item--white collection-data-item--column collection-data-cell">

                <p class="collection-data-value">
                  <strong>General access</strong>
                  </p>
                <p class="collection-data-value">
                    {{ current_drop.date_time_general_mailing_list | metafield_tag }}
                </p>

              </div> <!-- data item -->
            {% endif %}
            <div class="collection-data-item--white collection-data-item--column collection-data-cell ">
                <p class="collection-data-value">
                  <strong>Public access</strong>
                  </p>
                <p class="collection-data-value">
                  {{ current_drop.date_time_public_access | metafield_tag }}
                </p>

              </div> <!-- data item -->
            <div>
              <p class="subtext"> 
            <i>{{current_drop.disclaimer}}</i>
              </p>

            </div>

            </div> <!-- .collection-data-grid -->
            

      </div> <!-- .flex-row-center -->

      {%- form 'storefront_password', class: 'password-form' -%}
                
              <div class="password-field password-field_product-drop field{% if form.errors %} password-field--error{% endif %}">
                <input
                  type="password"
                  name="password"
                  id="Password"
                  class="field__input"
                  autocomplete="current-password"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  placeholder={{- 'general.password_page.product_drop_login_placeholder' | t -}}
                
                >
                <label class="field__label" for="{{ 'general.password_page.product_drop_login_label' | t }}">
                  {{- 'general.password_page.product_drop_login_placeholder' | t -}}
                </label>
                {%- if form.errors -%}
                  <div id="PasswordLoginForm-password-error" role="status">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">
                      <span class="svg-wrapper">
                        {{- 'icon-error' | inline_asset_content -}}
                      </span>
                      {{ 'general.password_page.product_drop_error' | t -}}
                    </span>
                  </div>
                {%- endif -%}
              </div>
              <button name="commit" class="custom-button button--animated">
                {{ 'general.password_page.product_drop_submit' | t }}
              </button>
 
            {%- endform -%}

    </div> <!-- .foreground-container -->

</section>
</body>
